core/build/getcd
core/build/gconnd
core/build/loop
core/build/gconnd.xml
core/build/app.gconnd.*
core/build/ghost
core/build/ghost.xml
core/build/vmcli
core/build/vmcli.xml
core/build/start_vmcli.sh
core/build/app.ghost.*
core/sample/vmcli/vmcli.exe
core/service/getcd/getcd.exe
core/service/gconnd/gconnd.exe
core/service/gconnd/app.gconnd.*
core/service/ghost/ghost.exe
core/service/ghost/app.ghost.*
